## Download and Setup Kafka

In [ ]:
!curl -sSOL https://downloads.apache.org/kafka/2.7.0/kafka_2.13-2.7.0.tgz
!tar -xzf kafka_2.13-2.7.0.tgz

In [ ]:
!./kafka_2.13-2.7.0/bin/zookeeper-server-start.sh -daemon ./kafka_2.13-2.7.0/config/zookeeper.properties
!./kafka_2.13-2.7.0/bin/kafka-server-start.sh -daemon ./kafka_2.13-2.7.0/config/server.properties
!echo "Waiting for 10 secs until kafka and zookeeper services are up and running"
!sleep 10

In [ ]:
!ps -ef | grep kafka

In [ ]:
!./kafka_2.13-2.7.0/bin/kafka-topics.sh --create --bootstrap-server 127.0.0.1:9092 --replication-factor 1 --partitions 1 --topic meetup-rsvp

## Download and Setup Spark

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://mirrors.estointernet.in/apache/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf /content/spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
%env JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
%env SPARK_HOME=/content/spark-2.4.7-bin-hadoop2.7

env: JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
env: SPARK_HOME=/content/spark-2.4.7-bin-hadoop2.7

## Setup Python Packages

In [ ]:
!pip install websocket-client
!pip install kafka-python
!pip install PyMySQL

## Setup MySQL Server

In [ ]:
config = {
  'user': 'admin',
  'password': '************',
  'host': '************.rds.amazonaws.com',
  'database': 'BigData'
}

In [ ]:
import pymysql
conn = pymysql.connect(**config)

In [ ]:
with conn.cursor() as cur:
  cur.execute("DROP DATABASE BigData")
  cur.execute("CREATE DATABASE BigData")
  cur.execute("USE BigData")

## Run Kafka Producer

In [ ]:
import json
import websocket
import threading
from kafka import KafkaProducer

In [ ]:
KAFKA_PRODUCER = KafkaProducer(value_serializer=lambda m: json.dumps(m).encode('utf-8'),
                               bootstrap_servers=['localhost:9092'])

In [ ]:
def on_message(wsapp, message):
    KAFKA_PRODUCER.send('meetup-rsvp', message)
    KAFKA_PRODUCER.flush()

def on_error(wsapp, error):
    print(error)

def on_close(wsapp):
    print("Connection Closed")

In [ ]:
def main():
  websocket.enableTrace(True)
  print("Connection Established")
  wsapp = websocket.WebSocketApp("wss://stream.meetup.com/2/rsvps", 
                                  on_message=on_message, 
                                  on_error=on_error,
                                  on_close=on_close)
  wsapp.run_forever()

In [ ]:
threading.Thread(target=main).start()

Connection Established

## Run Spark Streaming

In [ ]:
import json
import findspark

findspark.add_packages(['org.apache.spark:spark-streaming-kafka-0-8_2.11:2.0.0'])
findspark.init()

In [ ]:
from pyspark import SparkContext
from pyspark.streaming import StreamingContext
from pyspark.streaming.kafka import KafkaUtils

In [ ]:
sc = SparkContext(appName='App')
ssc = StreamingContext(sc, 2)

In [ ]:
brokers, topic = 'localhost:9092', 'meetup-rsvp'
raw_data = KafkaUtils.createDirectStream(ssc, [topic], {'metadata.broker.list': brokers})

In [ ]:
raw_data.pprint()
ssc.start()
ssc.awaitTermination(timeout=5)
ssc.stop()
sc.stop()

In [ ]:
raw_data = raw_data.map(lambda x: json.loads(x[1])).map(lambda x: json.loads(x))
stream_data = raw_data.flatMap(lambda x: x.items())

In [ ]:
raw_data.pprint()
ssc.start()
ssc.awaitTermination(timeout=5)
ssc.stop()
sc.stop()

In [ ]:
stream_data.pprint()
ssc.start()
ssc.awaitTermination(timeout=5)
ssc.stop()
sc.stop()

-------------------------------------------
Time: 2021-04-21 05:38:08
-------------------------------------------
('venue', {'venue_name': 'Online event', 'lon': 179.1962, 'lat': -8.521147, 'venue_id': 26906060})
('visibility', 'public')
('response', 'yes')
('guests', 0)
('member', {'member_id': 187981047, 'other_services': {'facebook': {'identifier': '10153423426807022'}}, 'photo': 'https://secure.meetupstatic.com/photos/member/1/1/9/5/thumb_246724501.jpeg', 'member_name': 'Özgür Karadeniz'})
('rsvp_id', 1870881161)
('mtime', 1618983484285)
('event', {'event_name': 'Tour de Tools: Veezoo with JP Monteiro', 'event_id': '277683522', 'time': 1621501200000, 'event_url': 'https://www.meetup.com/rootlabs-x/events/277683522/'})
('group', {'group_topics': [{'urlkey': 'data-analytics', 'topic_name': 'Data Analytics'}, {'urlkey': 'softwaredev', 'topic_name': 'Software Development'}, {'urlkey': 'data-science', 'topic_name': 'Data Science'}, {'urlkey': 'courses-and-workshops', 'topic_name': 'Courses and Workshops'}, {'urlkey': 'computer-programming', 'topic_name': 'Computer programming'}, {'urlkey': 'predictive-analytics', 'topic_name': 'Predictive Analytics'}, {'urlkey': 'data-visualization', 'topic_name': 'Data Visualization'}, {'urlkey': 'big-data-analytics', 'topic_name': 'Big Data Analytics'}, {'urlkey': 'big-data', 'topic_name': 'Big Data'}, {'urlkey': 'ai', 'topic_name': 'Artificial Intelligence'}, {'urlkey': 'python', 'topic_name': 'Python'}, {'urlkey': 'cloud-computing', 'topic_name': 'Cloud Computing'}, {'urlkey': 'machine-learning', 'topic_name': 'Machine Learning'}, {'urlkey': 'data-engineering', 'topic_name': 'data engineering'}], 'group_city': 'Leuven', 'group_country': 'be', 'group_id': 33656747, 'group_name': 'rootlabs', 'group_lon': 4.7, 'group_urlname': 'rootlabs-x', 'group_lat': 50.88})
('venue', {'venue_name': 'Online event', 'lon': 179.1962, 'lat': -8.521147, 'venue_id': 26906060})
...

-------------------------------------------
Time: 2021-04-21 05:38:10
-------------------------------------------
('visibility', 'public')
('response', 'yes')
('guests', 0)
('member', {'member_id': 323834631, 'photo': 'https://secure.meetupstatic.com/photos/member/8/2/7/3/thumb_303273395.jpeg', 'member_name': 'Rachel'})
('rsvp_id', 1870881162)
('mtime', 1618983488098)
('event', {'event_name': '🚶\u200d♀️🚶 Walk & Talk @ Royal Botanic Gardens 🌲🌼🌿🌸🌳', 'event_id': '277624428', 'time': 1619310600000, 'event_url': 'https://www.meetup.com/melbourneinternationalgroup/events/277624428/'})
('group', {'group_topics': [{'urlkey': 'socialnetwork', 'topic_name': 'Social Networking'}, {'urlkey': 'language', 'topic_name': 'Language & Culture'}, {'urlkey': 'fun-times', 'topic_name': 'Fun Times'}, {'urlkey': 'language-exchange', 'topic_name': 'Language Exchange'}, {'urlkey': 'international-friends', 'topic_name': 'International Friends'}, {'urlkey': 'meeting-old-friends-and-making-new-friends', 'topic_name': 'Meeting old friends and making new friends'}, {'urlkey': 'melbourne', 'topic_name': 'Melbourne'}, {'urlkey': 'socialising-in-melbourne', 'topic_name': 'Socialising in Melbourne'}, {'urlkey': 'culture-exchange', 'topic_name': 'Culture Exchange'}, {'urlkey': 'new-in-melbourne', 'topic_name': 'New in Melbourne'}, {'urlkey': 'mates-in-melbourne', 'topic_name': 'Mates in Melbourne'}, {'urlkey': 'language-cultural-exchange', 'topic_name': 'Language & Cultural Exchange'}, {'urlkey': 'global-language-cultural-exchange', 'topic_name': 'Global Language & Cultural Exchange'}, {'urlkey': 'international-and-cultural-exchange', 'topic_name': 'International and Cultural Exchange'}], 'group_city': 'Melbourne', 'group_country': 'au', 'group_id': 34521594, 'group_name': 'Melbourne International Group', 'group_lon': 144.96, 'group_urlname': 'melbourneinternationalgroup', 'group_lat': -37.81})
('venue', {'venue_name': 'Online event', 'lon': 179.1962, 'lat': -8.521147, 'venue_id': 26906060})
('visibility', 'public')
...

## Group By Country

### MySQL Functions

In [ ]:
with conn.cursor() as cur:
  cur.execute("CREATE TABLE countries(name VARCHAR(50), alpha CHAR(2), region VARCHAR(15), count INT)")

In [ ]:
def create_mysql(df):
  cols = "`,`".join([str(i) for i in df.columns.tolist()])
  with conn.cursor() as cur:
    for i,row in df.iterrows():
        sql = "INSERT INTO `countries` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cur.execute(sql, tuple(row))
        conn.commit()

In [ ]:
def update_mysql(alpha, count):
  with conn.cursor() as cur:
    sql = f"UPDATE countries SET count = {count} WHERE alpha = '{alpha}'"
    cur.execute(sql)
    conn.commit()

### Country Data

In [ ]:
!wget https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv

In [ ]:
import pandas as pd

In [ ]:
countries = pd.read_csv('/content/all.csv')
countries = countries[['name', 'alpha-2', 'region']]
countries = countries.dropna()
countries['alpha-2'] = countries['alpha-2'].str.lower()
countries.loc[countries['alpha-2'] == 'gb', ['name']] = 'Britain'
countries = countries.rename(columns={'alpha-2': 'alpha'})
countries['count'] = 0

In [ ]:
countries.head()

             name alpha   region  count
0     Afghanistan    af     Asia      0
1   Åland Islands    ax   Europe      0
2         Albania    al   Europe      0
3         Algeria    dz   Africa      0
4  American Samoa    as  Oceania      0

In [ ]:
create_mysql(countries)

### Spark

In [ ]:
def aggregate(_, x):
  x = x.collect()
  for i in x:
    countries.loc[countries['alpha'] == i[0], ['count']] += i[1]
    update_mysql(i[0], int(countries.loc[countries['alpha'] == i[0], ['count']].values))

In [ ]:
group_country = stream_data.filter(lambda x: x[0] == 'group')
group_country = group_country.map(lambda x: x[1]['group_country'])
group_country = group_country.map(lambda x: (x, 1))
group_country = group_country.reduceByKey(lambda a, b: a+b).foreachRDD(aggregate)

In [ ]:
# group_country.pprint()
ssc.start()
ssc.awaitTermination(timeout=50)
ssc.stop()
sc.stop()

## Save Data

In [ ]:
save_data = raw_data.map(lambda x: (x['member']['member_id'], x['event']['event_name'], [x['group']['group_topics'][i]['urlkey'] for i in range(len(x['group']['group_topics']))]))

In [ ]:
save_data.pprint()
ssc.start()
ssc.awaitTermination(timeout=5)
ssc.stop()
sc.stop()

-------------------------------------------
Time: 2021-04-21 03:06:00
-------------------------------------------
(209210628, "NY Women's Coming Out Meetup", ['Lesbian', 'lesbianmoms', 'lgbtfriends', 'women', 'gay-and-lesbian-friends', 'lgbt-social-group', 'lesbian-friends', 'bisexual-women', 'gay-friends', 'bisexual-friends', 'bisexual-support', 'lesbian-social-networking', 'lesbians-over-40', 'lgbtq'])

-------------------------------------------
Time: 2021-04-21 03:06:02
-------------------------------------------
(327749715, 'Online ESL Conversation Class', ['esl', 'communication-esl-immersion', 'culture-exchange', 'esl-meet-up', 'language-exchange', 'english-language', 'language', 'esl-practice', 'esl-teachers', 'esl-friends', 'esl-program', 'esl-toronto'])
(329385059, 'Explore: Outdoor BYOB(runch) ', ['bookclub', 'social', 'tabletop-role-playing-and-board-games', 'outdoors', 'newintown', 'exploring-new-restaurants', 'singles', 'hiking', 'yoga', 'indoor-and-outdoor-rock-climbing', 'urban-bicycling', 'running', 'happy-hours', 'beginners-running'])
(9225074, 'Sunset Yoga', ['atheists', 'agnostic', 'recovering-from-religion', 'freethinker', 'freedom-from-religion', 'skeptics', 'humanism', 'churchandstate', 'critical-thinking', 'science'])

-------------------------------------------
Time: 2021-04-21 03:06:04
-------------------------------------------

In [ ]:
ssc.stop()
sc.stop()